.App{
  border: 1px solid grey;
  width: 400px;
  height: 400px;
  margin: 150px auto;
}

.child_div{
   text-align: center;
}

.child_div h3{
 margin: 80px 0px;
}

.child_div .inputFiled{
  margin: 60px 0px;
 }

input{
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 4px;
  outline: none;
  padding: 5px;
}

button{
  margin: 10px;
  color: white;
  background-color: rgb(192, 154, 227);
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}